  <div class="doc-content span24" >
    <h1 align="center">摘要</h1>
	<hr>
    <ol>    
    	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人们越来越多地在社会媒体网站上分享生活中的感受,以及关于商品、书籍、电影 等的评价。大量的、带有情感的社会媒体内容蕴含了重要的商业价值,因此,借助计算 技术对社会媒体进行自动地情感分析越来越重要。情感的倾向性与情感表达的目标话题 有很强的依赖,主要表现在不同的话题使用的情感词,以及情感词表达的倾向性会存在 很大差别。因此,社会媒体中缺少标注的训练数据、话题多样性并不可预知的问题,对 情感倾向性的自动分类效果带来了非常大的挑战。另一方面,面向大规模社会媒体数据 的开放测试,情感分类模型的训练效果很难评价。
    	</li></br>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了解决以上问题,本文的主要贡献如下:
    	</li></br>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 基于话题相关情感词特征的话题自适应情感分类模型。情感分类模型的话题依赖性
        体现在模型利用的情感词特征与目标话题密切相关。因此,本文􏰄出利用半监督的 模型学习话题相关情感词特征,得到话题自适应情感分类器。首先利用初始的公共 情感词以及少量的标注数据,构建话题通用情感分类器。其次,针对目标话题领域 的社会媒体数据集,协同半监督地利用非标注数据进行学习,并基于语法依赖树及 规则自动抽取目标话题相关的情感词。随着模型的迭代训练,逐渐引入目标话题相 关情感词、估计其权重,实现情感分类模型话题自适应的学习过程。通过对包含 6 个话题的数据集实验,结果表明,基于话题相关情感词特征的话题自适应情感分类 模型,与传统的分类算法相比,精确度有了显著性􏰄高。
        </li></br>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 考虑用户及社会网络特征的目标话题自适应情感分类模型。对当前已有的数据集进 行统计分析,发现在社会媒体的某一个固定话题中,用户的情感倾向具有一致性, 与此同时,具有􏰄及关系的用户具有情感趋同性。因此,本文􏰄出了社会网络相关 特征,构建考虑用户及社会网络特征的目标话题自适应情感分类模型。在半监督的 学习过程中,动态更新的用户及社会网络特征可以进一步帮助模型更好的选择话题 相关的未标注训练数据,从而间接地影响模型自适应话题情感词特征的效果。通过 实验对比,发现新模型的精确度、F 值要明显高于传统的分类算法,以及只考虑目标 话题相关情感词的话题自适应情感分类模型。与此同时,针对社会媒体的实时性特 点,本文􏰄出了目标话题动态自适应的情感分类模型。实验结果表明,动态自适应 情感分类器的平均精确度也有很大的􏰄高。
        </li></br>
    	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	3. 面向大规模社会媒体开放数据的并行算法和实验。话题自适应的情感分类模型在训 练过程中需要针对每一个新出现的话题,利用标注数据进行自适应学习。因此,面 向大规模社会媒体开放测试数据,本文基于 Spark 平台的多分类模型设计了并行训练
        ￼算法。基于大规模推特数据,利用表情符作为模型测试的评价依据,与 MSVM 和 COMSVM 两个常用的有监督和半监督的情感分类方法相比,本文的话题自适应情感 分类方法在精确度和 F 值上都取得了显著􏰄高。
        </li></br>
    	<li>
        <b>关键词</b>:情感分类,话题自适应,跨领域分类,自适应特征,spark
    	</li>
    </ol>
  </div>
